.exerciseWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px 0;
  width: 768px;
}

.counter {
  font-size: 14px;
  margin-bottom: 15px;
}