.exerciseWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px 0;
  width: 768px;
}

.exerciseWrap .word {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
}